# Format of the cfg file:
#
#   File ::= Line*
#   Line ::= Comment Eol | Blank Eol | Definition Eol
#   Eol ::= End of line or End of file
#   Comment ::= "#" Anything
#   Blank ::= Whitespace*
#   Definition ::= Variable"="Anything
#   Variable ::= /[A-Z_]+/
#   Anything ::= /.*/
#   Whitespace ::= whatever isspace() says is a whitespace
#
# NOTE that in Definitions, whitespace is *significant* *everywhere*.

AWS_IOT_ENDPOINT=a1igkxc4s40b07-ats.iot.eu-central-1.amazonaws.com
AWS_MQTT_PORT=8883
ROOT_CA_CERT_PATH=/home/pi/p/aws/AmazonRootCA1.pem
CLIENT_CERT_PATH=/home/pi/p/aws/certificate.pem.crt
CLIENT_PRIVATE_KEY_PATH=/home/pi/p/aws/private.pem.key
CLIENT_IDENTIFIER=RPi2
OS_NAME=Raspberry_Pi_OS
OS_VERSION=Sept2022
HARDWARE_PLATFORM_NAME=Raspberry_Pi_2
MQTT_TOPIC=snappy/device_reading
